{{! Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE.txt in the project root for license information.}}
<div class='container'>
  <div style='float:left'>
    <h2>Inbox</h2>
  </div>

  <div style='float:right'>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Compose</button>
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header modal-header-info">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title"><span class="glyphicon glyphicon-envelope"></span> Compose
              Email</h4>
          </div>
          <div class="modal-body">
            <form role="form" class="form-horizontal" id='myForm'>
              <div class="form-group">
                <label class="col-sm-2" for="inputTo"><span class="glyphicon glyphicon-user"></span>From</label>
                <div class="col-sm-10"><input type="email" class="form-control" id="inputFrom"
                    placeholder="comma separated list of recipients"></div>
              </div>
              <div class="form-group">
                <label class="col-sm-2" for="inputTo"><span class="glyphicon glyphicon-user"></span>To</label>
                <div class="col-sm-10"><input type="email" class="form-control" id="inputTo"
                    placeholder="comma separated list of recipients"></div>
              </div>
              <div class="form-group">
                <label class="col-sm-2" for="inputSubject"><span
                    class="glyphicon glyphicon-list-alt"></span>Subject</label>
                <div class="col-sm-10"><input type="text" class="form-control" id="inputSubject" placeholder="subject">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-12" for="inputBody"><span class="glyphicon glyphicon-list"></span>Message</label>
                <div class="col-sm-12"><textarea class="form-control" id="inputBody" rows="8"></textarea></div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-warning pull-left">Save Draft</button>
            <button type="button" class="btn btn-primary " onclick='sendMessage()' data-dismiss="modal">Send<i class="fa fa-arrow-circle-right fa-lg"></i></button>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<table class="table">
  <thead class="thead-light">
    <th scope="col">From</th>
    <th scope="col">Subject</th>
    <th scope="col">Received</th>
  </thead>
  <tbody>
    {{#each messages}}
    <tr class="{{#unless this.isRead}}table-primary{{/unless}}">
      <td title="{{this.from.emailAddress.address}}">{{this.from.emailAddress.name}}</td>
      <td>{{this.subject}}</td>
      <td>{{this.receivedDateTime}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
<script>
  function sendMessage()
  {
    var from=document.getElementById('inputFrom').value;
    var to=document.getElementById('inputTo').value;
    var mes=document.getElementById('inputBody').value;
    var sub=document.getElementById('inputSubject').value;
  
  /*fetch('', {
    method: 'POST',
    body: JSON.stringify({
      'From': from,
      'To': to,
      'Mesaage': mes
    }),
    headers: {
      "Content-type": "application/json; charset=UTF-8"
    }
  })
  .then(response => response.json())
  .then(json => console.log(json))*/

    console.log(from);
    console.log(to);
    console.log(mes);
    console.log(sub);
   document.getElementById('myForm').reset();
  }
</script>
